@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Style="background-color: #008000;" Fixed="true" Elevation="2">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" OnClick="ToggleDrawer" Style="color: white;" />
        <div style="flex-grow: 1;"></div>
        <MudImage Class="mud-image" Src="images/afs.png" Style="max-width: 100px; height: auto;"></MudImage>
        <div style="flex-grow: 1;"></div>
    </MudAppBar>
    <MudDrawer Open="@drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Style="background-color: #008000;">
        <NavMenu></NavMenu>
    </MudDrawer>
    <MudMainContent class="main-content pa-10" Style="background-color: #fff;">
        @Body
    </MudMainContent>

</MudLayout>

@code {
    private bool drawerOpen = false;

    private void ToggleDrawer()
    {
        drawerOpen = !drawerOpen;
    }
}
